<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <form action="CreateUser" method="post">
        <div class="mb-3">
            <label for="firstName" class="form-label">Vardas</label>
            <input type="text" class="form-control" id="name" name="firstName">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Amzius</label>
            <input type="number" class="form-control" id="age" name="age">
        </div>
        <button type="submit" class="btn btn-primary">Siusti</button>

    </form>


  
</body>
</html>
