<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <form action="Name_Submit" method="post">
        <div class="mb-3">
            <label for="firstName" class="form-label">Vardas</label>
            <input type="text" class="form-control" id="name" name="firstName">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Pavarde</label>
            <input type="text" class="form-control" id="lastName" name="lastName">
        </div>
        <button type="submit" class="btn btn-primary">Siusti</button>

    </form>


  
</body>
</html>
